{% extends 'base/baseGalsen.html.twig' %}

{% block title %}
    Category
{% endblock title %}

{% block header %}
    <nav>
        <ul>
            <li><a href="{{ path ("home") }}">Home</a></li>
            <li><a href="{{ path ("adminCategoryList") }}">Categorys</a></li>
        </ul>
    </nav>
{% endblock header %}

{% block main %}
    <article class="category">
        <a href="{{ path ("adminCategoryList") }}">
        <h1>{{ category.title }}</h1>
        <p>{{ category.isPublished }}</p>
        <p>{{ category.createdAt | date('y-m-d') }}</p>

        {% for article in category.articles %}
            <p>{{ article.title }}</p>
        {% endfor %}
        </a>
    </article>
{% endblock main %}

{% block footer %}

{% endblock footer %}