{% extends 'base/base.html.twig' %}

{% block title %}
    Liste des Articles
{% endblock title %}

{% block main %}
    {# {{ form(articleForm) }} #}

    {# Form_start est comme une balise d'ouverture en html#}
    {{ form_start(articleForm) }}

        <div class="titre">
            {{ form_label(articleForm.title, 'titre', {'label_attr': {'class': 'form_article_title_input'}}) }}
            {{ form_widget(articleForm.title, {'attr': {'class': 'form-control', 'placeholder': 'Oubliez pas le titre'}}) }}
        </div>

        <div class="content">
            {#  #}
            {{ form_label(articleForm.content, 'Contenu', {'label_attr': {'class': 'form_article_content_input'}}) }}
            {{ form_widget(articleForm.content, {'attr': {'class': 'form-control', 'placeholder': 'Oubliez pas le contenu'}}) }}
        </div>
        <div class="date">
            {{ form_widget(articleForm.createAt, null, {'label_attr': {'class': 'form_article_createAt_input'}}) }}
            {{ form_label(articleForm.createAt, {'class': 'form-control'}) }}
        </div>

        <div class="publication">
            {{ form_label(articleForm.isPulished, null, {'label_attr': {'class': 'form_article_isPublished_input'}}) }}
            {{ form_widget(articleForm.isPublished, {'class': 'form-control'}) }}
        </div>

        <div class="submit">
            {{ form_widget(articleForm.submit) }}
        </div>

    {# ici je ferme la balise  #}
    {{ form_end(articleForm) }}

{% endblock main %}

