{% extends '../../base.html.twig' %}

{% block title %}
    Liste des category
{% endblock title %}

{% block header %}
    <nav>
        <ul>
            <li><a href="{{ path ("home") }}">Home</a></li>
            <li><a href="{{ path ("categoryList") }}">category</a></li> {#path => liens   #}
        </ul>
    </nav>

{% endblock header %}

{% block main %}
    {% for category in category %}
        {% if category.isPublished %}
            <article class="category">
                <div>
                    <a href="{{ path ('categoryShow', {'id': category.id}) }}">
                        <h2>{{ category.title }}</h2>
                        <p>{{ category.createdAt | date('y-m-d') }}</p>
                    </a>
                </div>

                {% for article in category.articles %}
                    <p>{{ article.title }}</p>
                {% endfor %}
            </article>
        {% endif %}
    {% endfor %}
{% endblock main %}

{% block footer %}

{% endblock footer %}