{% extends 'base.html.twig' %}

{% block title %}
    Blog
{% endblock title %}

{% block header %}
    <nav>
        <ul>
            <img src="{{ asset('img/logo.png') }}" alt="Logo">
            <li><a href="">Home</a></li>
            <li><a href="">Category</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
{% endblock header %}

{% block main %}
        <article class="article">
            <h1>{{ category.title }}</h1>
            <p>{{ category.content }}</p>
            <p>{{ category.id }}</p>
            <p>{{ category.published }}</p>
        </article>
{% endblock main %}

{% block footer %}
    <img src="{{ asset('img/reseau.jpeg') }}" alt="Logo" class="resp">
{% endblock footer %}