{% extends 'base.html.twig' %}

{% block title %}
    Liste des category
{% endblock title %}

{% block header %}
    <nav>
        <ul>
            <li><a href="{{ path ("home") }}">Home</a></li>
            <li><a href="{{ path ("categoryList") }}">category</a></li> {#path => liens   #}
        </ul>
    </nav>

{% endblock header %}

{% block main %}
        {% for category in category %}
            {% if category.isPublished %}
                <category class="category">
                    <a href="{{ path ('categoryShow', {'id': category.id}) }}">
                        <h2>{{ category.title }}</h2>
                        <p>{{ category.description }}</p>
                        <p>{{ category.id }}</p>
                        <p>{{ category.createdAt | date('y-m-d') }}</p>
                    </a>
                </category>
            {% endif %}
        {% endfor %}
{% endblock main %}

{% block footer %}

{% endblock footer %}