{% extends 'tag/tag.html.twig' %}

{% block title %}
    Tags
{% endblock title %}

{% block header %}
    <nav>
        <ul>
            <li><a href="{{ path ("home") }}">Home</a></li>
            <li><a href="{{ path ("tags") }}">Tag</a></li>
        </ul>
    </nav>
{% endblock header %}

{% block main %}
    {% for tag in tags %}
            <article>
                <a href="{{ path ('tagShow', {'id': tag.id}) }}">
                    <h3>{{ tag.title }}</h3>
                    <p>{{ tag.id }}</p>
                </a>
            </article>
    {% endfor %}
{% endblock main %}

{% block footer %}

{% endblock footer %}